:root {
  --header-bg: #10375c;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background-color: #2e80ce;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.68; /* 166.667% */
}

.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 1px solid #575f66;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.25s;
}

.control__btn:hover {
  background-color: #2e80ce;
  color: #fff;
  border: none;
}

.control-btn--next {
  rotate: 180deg;
}
/* =============== header =================== */
.header {
  background: var(--header-bg);
  min-height: 100vh;
  /* Make header height fill up all the screen --> when user access to page will see all the header */
  padding-top: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}
.header__action--login,
.navbar__link {
  text-align: center;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  padding: 8px 21px;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  content: "";
  position: relative;
  bottom: 3px;
  right: 8px;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}

.header__action--signup {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}

.header__action--login {
  margin-right: 7px;
}

/* =================== hero =================== */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}

.hero__content {
  width: 44%;
}

.hero__media {
  flex: 1;
  /* use flex: 1; allow remaining blocks also take up all the remaining space */
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.68; /* 166.667% */
}

.hero__row {
  margin-top: 38px;
  /* for Inline, elements, there a litle space between them, use display: flex to remove it. */
  display: flex;
  align-items: center;
  column-gap: 38px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.68; /* 166.667% */
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}
.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
}

/* ============ service ================ */

.services {
  padding: 170px 0;
  background: #fff;
}

.services__heading,
.services__desc {
  text-align: center;
}

.services__desc {
  width: 468px;
  margin: 18px auto 0;
}

.service__row {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.services-item {
  display: flex;
  padding: 21px;
  width: 470px;
  border-radius: 10px;
  background: #fff;
}

.services-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services-item:hover .services-item__icon {
  color: #fff;
  background: #2e80ce;
}

.services-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}

.services-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.services-item__desc {
  color: #575f66;
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.services__btn {
  margin-top: 55px;
}

/* ================= Work ====================== */

.work {
  background: #f6fbff;
  padding: 100px 0;
}

.work__desc {
  width: 468px;
}

.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.work-item:hover {
  border: 16px solid #2e80ce;
  transform: translateY(-16px);
}

.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.work-item__more {
  margin-top: 18px;
  display: block;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
/* ================= About ====================== */

.about {
  margin-top: 85px;
  padding: 85px 0 206px;
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__media {
  width: 49%;
}

.about__content {
  width: 40%;
}

.about__img {
  position: relative;
}

.about__img--big {
  display: flex;
  /* this trick is use to remove a litle space under the image
   because <img> tag is a inline tag, and inline tag have a litle 
   space under element */
  width: 512px;
  object-fit: cover;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img--small {
  position: absolute;
  top: 121px;
  left: 238px;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}

.about__content--btn {
  margin-top: 38px;
}

/* ================= Team ====================== */
.team {
  padding: 85px 0;
}

.team-header {
  text-align: center;
  margin: 0 auto;
}

.team__cta {
  margin-top: 38px;
}

.team-list {
  display: grid;
  margin-top: 70px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.team-item__thumb {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  transition: 0.25s;
}

.team-item__img-bg {
  border-radius: 6px;
  background: #eaf6ff;
  padding-top: 28px;
  overflow: hidden;
}

.team-item:hover .team-item__thumb {
  transform: scale(1.1);
}

.team-item__name {
  color: #10375c;
  margin-top: 12px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.85; /* 185.714% */
}

.team__control {
  margin-top: 38px;
  justify-content: center;
}
/* =========================== install ======================== */

.install__inner {
  display: flex;
  margin: 180px 0 85px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  height: 427px;
  background: #2e80ce;
  border-radius: 4px;
}

.install__img {
  width: 284px;
  height: 522px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}

.install__content {
  max-width: 586px;
}

.install__heading {
  max-width: 489px;
  color: #fff;
}

.install__desc {
  margin-top: 18px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.68; /* 166.667% */
  max-width: 586px;
}

.install__row {
  margin-top: 38px;
  display: flex;
  column-gap: 28px;
  align-items: center;
}

/* ============= Blog ================== */

.blog {
  padding: 85px 0;
}

.blog__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__content {
  width: 40%;
}

.blog__heading {
  width: 470px;
}

.blog__more {
  color: #10375c;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  border-bottom: 1px solid currentColor;
  display: inline-block;
  margin: 28px 0;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.blog-item {
  max-width: 270px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  overflow: hidden;
  transition: 0.25s;
}

.blog-item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.blog-item:hover .blog-item__more {
  color: #2e80ce;
}

.blog-item__thumb {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  transition: 0.25s;
}
.blog-item:hover .blog-item__thumb {
  transform: scale(1.1);
}

.blog-item__content {
  padding: 18px 22px 21px;
}

.blog-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
}

.blog-item__desc {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
  margin: 10px 0 12px;
}

.blog-item__more {
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}

/* ++============== appointment ============== */

.appointment {
  margin: 85px 0;
}

.appointment__inner {
  background: #f6fbff;
  padding: 100px 178px;
  text-align: center;
}

.appointment__heading::after {
  content: "";
  width: 136px;
  height: 2px;
  background: #2e80ce;
  display: block;
  margin: 18px auto 0;
}

.appointment__desc {
  margin: 18px auto 0;
  max-width: 617px;
  margin-bottom: 38px;
}
